/* MAIN */

.banner-wrapper{
    width: 100%;
    min-height: 650px;
    position: relative;
}

.banner__img{
    width: 100%;
    height: 100%;
    background-image: url(/img/banner1.jpg);
    object-fit: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 30px;
}

.banner__img h1{
    font-size: 50px;
    color: white;
}

.dashboard-wrapper{
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 410px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.dashboard__text{
    grid-area: 1 / 1 / 2 / 3;
    padding: 15px 20px;
    text-align: center;
    background-color: var(--blue);
    color: white;
}

.dashboard__text span{
    display: block;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}

.dashboard__text p{
    font-size: 20px;
    color: rgb(255, 255, 255, 0.8);
}

.dashboard-wrapper button{
    padding: 5px 0;
    font-size: 20px;
    color: white;
    background: var(--dark);
    font-weight: 300;
    cursor: pointer;
}

.dashboard-wrapper button i{
    margin: 0 10px;
}

#btn-prev{
    grid-area: 2 / 1 / 2 / 2;
}

#btn-next {
    grid-area: 2 / 2 / 2 / 2;
}

/* SECTION */
section{
    padding: 30px 0;
}

.section-header{
    width: 100%;
    text-align: center;
    margin: 30px 0 10px 0;
}

.section-header h2{
    font-size: 30px;
    font-weight: 700;
}

.reputations{
    padding: 30px 40px;
}

.reputations .row{
    justify-content: center;
}

.reputation-item{
    padding: 15px 15px 20px 15px;
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 5px;
    margin-bottom: 30px;
}

.reputation-item img, .reputation-item h3{
    margin-bottom: 10px;
}

/* about-us */
.about-us{
    position: relative;
}

.about__img{
    min-height: 70px;

    padding: 30px 0;
}

.about__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__content{
    margin-left: -50px;
}

.about__text{
    margin: 50px 40px 50px 0;
    width: 100%;
    padding: 40px 30px 60px 30px;
    background: var(--blue);
    color: white;
    /* position: absolute; */
    top: 0;
    right: 0;
}

.about__text h2{
    font-size: 30px;
    margin-bottom: 30px;
}

.about__text p{
    margin-bottom: 10px;
    font-size: 18px;
}

.about__text button{
    margin-top: 50px;
    color: var(--blue);
}

/* Services */
.services{
    background: var(--light);
}

.service-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.serveice__item{
    margin-bottom: 10px;
    padding: 25px;
    border-radius: 5px;
    text-align: center;
}

.serveice__item.blue{
    background: var(--blue);
}

.serveice__item img{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid var(--light);
}

/* experience */
.experience__tag{
    margin-bottom: 20px;
    
}

.experience__content{
    padding: 40px 0;

}

.experience__content h2{
    font-size: 40px;
    color:var(--blue);
    margin-bottom: 20px;
}

.experience__content button{
    margin: 20px 0;
    background-color: var(--blue);
    color: var(--light);
}


/* bg-ads */
.bg-ads{
    padding: 50px;
    background-image: url(/img/bg-ads.png);
}

.bg-ads__content{
    width: 100%;
    height: 100%;
    color: white;
    margin-bottom: 30px;
}

.bg-ads__content h2{
    margin-bottom: 10px;
    font-size: 30px;
}

.bg-ads__btn{
    height: 100%;
    display: flex;
    align-items: center;
}

.bg-ads__btn button{
    color: white;
    background: rgba(0,0,0, 0.1);
    border: 1px solid white
}

/* slide */

.slides h2{
    font-size: 30px;
    font-weight: 700;
}

.slide__link{
    margin: 20px 0;
}

.slide__link li{
    margin-bottom: 15px;
}

.slide__link a{
    font-size: 18px;
    font-weight: 600;
    color: rgba(0,0,0, 0.4);
}

.slide__link .selected{
    color: var(--blue);
    font-weight: 800;
    position: relative;
}

.selected::after{
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    left: -10px;
    top: 0;
    background: var(--blue);
}

.list-slide-show{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.slide-item{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
}

.slide-item img{
    width: 100%;
    object-fit: cover;
}

.slide__text{
    padding: 5px;
    background: var(--blue);
    color: white;
}

.slide__text h3{
    font-size: 16px;
}

.slide__text p{
    font-size: 13px;
    color: rgb(255, 255, 255, 0.8);
}

.btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
}

.btn-wrapper button{
    width: 35%;
    padding: 10px 40px;
    font-size: 14px;
    color: white;
    background: var(--dark);
    font-weight: 200;
    cursor: pointer;
}

.btn-wrapper i{
    margin: 0 10px;
}

.track{
    width: 30%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.page{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(0,0,0, 0.4);
}

.page.page-selected{
    background: var(--blue);
}

/* customer */
.customer{
    background-color: var(--light);
}
.form-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

form{
    width: 50%;
    text-align: center;
}

form h2{
    display: block;
    width: 100%;
    font-size: 30px;
    color: var(--dark);
    margin-bottom: 10px;
}

form p{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.form-information{
    display: flex;
    flex-wrap: wrap;
}

.form-control {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.question-customer input{
    width: 100%;
    padding: 5px 10px;
    color: rgba(0,0,0, 0.4);
    border: none;
    outline: none;
    border-radius: 5px;
}

.form-message{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.form-message textarea{
    width: 100%;
    padding: 10px;
    color: rgba(0,0,0, 0.4);
    border: none;
    outline: none;
    border-radius: 5px;
}

.form-control.error small{
    color: red;
}

.customer button{
    padding: 10px 70px;
    background: var(--blue);
    color: white;
}

footer{
    padding: 50px 0 0 0;
}

footer span{
    font-size: 18px;
    font-weight: 600;
    color: var(--blue);
    margin-right: 15px;
}

footer p{
    margin-bottom: 15px;
    font-size: 18px;
}

.letter{
    width: 100%;
    margin: 10px 0;
    display: flex;
}

.letter input{
    width: 250px;
    padding: 7px;
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 5px;
    outline: none;
    margin-right: 5px;
    font-size: 18px;
}

.letter button{
    background-color: orange;
    color: white;
}

.social{
    display: flex;
    padding: 10px 0;
}

.social li{
    margin-right: 15px;
}

.social i{
    font-size: 32px;
    color: var(--dark);

}

.copyright{
    width: 100%;
    margin-top: 50px;
    padding: 30px 0;
    background: var(--blue);
}

.copyright p{
    margin: 0;
    font-size: 20px;
    color: white;
}
@media (max-width:1199px) {
    .about__img{
        padding: 0;
    }
    .about__content{
        margin: 0;
    }
    .about__text{
        margin: 0;
    }
}